<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
    <div class="container">
        <div class="d-flex align-items-center">
            <div class="site-logo">
                <a href="index.html" class="d-block">
                    <img src="~/Assets/Home/images/logo.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="mr-auto">
                <nav class="site-navigation position-relative text-right" role="navigation">
                    <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li class="active">
                            <a href="/" class="nav-link text-left">Home</a>
                        </li>
                        <li class="has-children">
                            <a href="about.html" class="nav-link text-left">About Us</a>
                            <ul class="dropdown">
                                <li><a href="teachers.html">Our Teachers</a></li>
                                <li><a href="about.html">Our School</a></li>
                            </ul>
                        </li>
                        @{
                            var session = (UserLogin)Session[ProjectDAA1.Common.CommonConstants.USER_SESSION];
                        }
                        @if (session != null)
                        {
                            if (session.Nhom == "Giảng viên")
                            {
                                <li class="has-children">
                                    <p class="nav-link text-left">Giảng viên</p>
                                    <ul class="dropdown">
                                        <li><a href="/lopcn" class="nav-link text-left"> Lớp chủ nhiệm </a></li>
                                        <li><a href="/lop" class="nav-link text-left"> Lớp </a></li>
                                        <li><a href="/giangvien/tkb" class="nav-link text-left"> Thời khoá biểu </a></li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="has-children">
                                    <p class="nav-link text-left"> Sinh viên </p>
                                    <ul class="dropdown">
                                        <li><a href="/sinhvien/kqht" class="nav-link text-left"> Kết quả học tập </a></li>
                                        <li><a href="/sinhvien/tkb" class="nav-link text-left"> Thời khoá biểu </a></li>
                                        @if (ViewBag.Viewdkhp != null)
                                        {
                                            <li><a href="/dkhp" class="nav-link text-left"> Đăng ký học phần </a></li>
                                            <li><a href="/huydkhp" class="nav-link text-left"> Huỷ đăng ký học phần </a></li>
                                        }


                                    </ul>
                                </li>

                            }
                        }
                        else
                        {
                            <li><a href="/" class="nav-link text-left">Chưa đăng nhập</a></li>
                        }
                    </ul>
                </nav>
            </div>
            <div class="ml-auto">
                <div class="social-wrap">
                    <a href="#"><span class="icon-facebook"></span></a>
                    <a href="#"><span class="icon-twitter"></span></a>
                    <a href="#"><span class="icon-linkedin"></span></a>
                    <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black">
                        <span class="icon-menu h3"></span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</header>