<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
    <div class="container">
        <div class="d-flex align-items-center">
            <div class="site-logo">
                <a  class="d-block">
                    <img src="~/Assets/Home/images/banner.png" alt="Image" class="img-fluid" width="300" height="80">
                </a>
            </div>
            <div class="mr-auto">
                <nav class="site-navigation position-relative text-right" role="navigation">
                    <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li class="active">
                            <a href="/" class="nav-link text-left">Trang chủ</a>
                        </li>
                        <li class="has-children">
                            <a href="/" class="nav-link text-left">Chương trình đào tạo</a>
                            <ul class="dropdown">
                                <li><a href="HTTTView.html">Hệ thống thông tính</a></li>
                                <li><a href="/">Khoa học máy tính</a></li>
                                <li><a href="/">Công nghệ phần mềm</a></li>
                                <li><a href="/">Mạng máy tính &TT</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="about.html" class="nav-link text-left">Về chúng tôi</a>
                            <ul class="dropdown">
                                <li><a href="/">Giới thiệu về giảng viên</a></li>
                                <li><a href="/">Giới thiệu về trường</a></li>
                            </ul>
                        </li>

                        @{
                            var session = (UserLogin)Session[ProjectDAA1.Common.CommonConstants.USER_SESSION];
                        }
                        @if (session != null)
                        {
                            if (session.Nhom == "Giảng viên")
                            {
                                <li class="has-children">
                                    <p class="nav-link text-left">Giảng viên</p>
                                    <ul class="dropdown">
                                        <li><a href="/lopcn" class="nav-link text-left"> Lớp chủ nhiệm </a></li>
                                        <li><a href="/lop" class="nav-link text-left"> Lớp </a></li>
                                        <li><a href="/giangvien/tkb" class="nav-link text-left"> Thời khoá biểu </a></li>
                                        <li><a href="/giangvien/thongtincanhan" class="nav-link text-left">Thông tin cá nhân</a></li>
                                        <li><a href="/Teacher/doimatkhau" class="nav-link text-left">Đổi mật khẩu</a></li>
                                        <li><a href="/thongbaos/Index" class="nav-link text-left">Thông báo</a></li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="has-children">
                                    <p class="nav-link text-left"> Sinh viên </p>
                                    <ul class="dropdown">
                                        @if (ViewBag.Viewdkhp != null)
                                        {
                                            <li><a href="/dkhp" class="nav-link text-left"> Đăng ký học phần </a></li>
                                            <li><a href="/huydkhp" class="nav-link text-left"> Huỷ đăng ký học phần </a></li>
                                        }
                                        <li><a href="/sinhvien/kqht" class="nav-link text-left"> Kết quả học tập </a></li>
                                        <li><a href="/sinhvien/tkb" class="nav-link text-left"> Thời khoá biểu </a></li>
                                        <li><a href="/sinhvien/thongtincanhan" class="nav-link text-left"> Thông tin cá nhân </a></li>
                                        <li><a href="/Student/doimatkhau" class="nav-link text-left">Đổi mật khẩu</a></li>
                                    </ul>
                                </li>
                                
                            }
                        }
                        else
                        {
                            <li><a href="/" class="nav-link text-left">Chưa đăng nhập</a></li>
                        }
                    </ul>
                </nav>
            </div>


        </div>
    </div>
</header>