.nhutbtn{
    border-radius:20px
}
.nhutmargin{
    margin-top:50px
}
.nhuttenmon{
   text-align:center;
   font-size:18px
}
.nhutborder{
    border:1.5px solid !important
}
.nhutcenter{
    text-align:center
}
.nhutmarginleft{
    margin-left:10px;
    margin-right:10px
}
.nhutsection{
    padding:2em 0;
}
.nhutlabel{
    padding-bottom:1em
}
.nhutcontainer{
    margin: 2px 400px
}
.nhutnewcontent {
    margin: 2px 325px
}
.nhuttable{
    margin: 2px 155px
}
.nhutlink{
    color:white;
}
.nhuttieude{
    color:blue;
}
.nhutinput {
    font-family: sans-serif!important;
 
}
.nhutbackground{
    background-image:url('~/Assets/Home/images/2754227.jpg')
}
.nhutchose{
    padding: 1px !important;
    height: 40px !important
}