.nhutbtn{
    border-radius:20px
}
.nhutmargin{
    margin-top:50px
}
.nhuttenmon{
   text-align:center;
   font-size:18px
}
.nhutborder{
    border:1.5px solid !important
}
.nhutcenter{
    text-align:center
}
.nhutmarginleft{
    margin-left:10px;
    margin-right:10px
}