@model IEnumerable<ProjectDAA1.lopcn>

@{
    ViewBag.Title = "dsLopCN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section">
    <div class="container">
        <br />
        <br />
        <div class="d-flex justify-content-center">
            <h2 class="text-uppercase font-weight-bold"> Danh sách lớp chủ nhiệm </h2>
        </div>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th class="nhutcenter">Mã lớp chủ nhiệm</th>
                    <th class="nhutcenter">Niên khoá</th>
                    <th class="nhutcenter">Danh sách lớp</th>
                    <th class="nhutcenter">Xuất danh sách</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.malopcn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nienkhoa)
                    </td>
                    <td>
                        <a href="svlopcn/@item.idlopcn">Danh sách sinh viên</a>
                    </td>
                    <td>
                        @*<a href="Excel/Export/@item.idlopcn">Xuất danh sách</a>*@
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>