@model IEnumerable<ProjectDAA1.lopcn>

@{
    ViewBag.Title = "dsLopCN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách lớp chủ nhiệm</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.malopcn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nienkhoa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.malopcn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nienkhoa)
        </td>
        <td>
            <a href="svlopcn/@item.idlopcn">Danh sách sinh viên</a>
        </td>
    </tr>
}

</table>
