@model ProjectDAA1.khoa

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <strong><i class="zmdi zmdi-account-calendar p-2"></i><a href="/Admin/khoas">Khoa</a></strong>
                    <small>> Detail</small>
                </div>
                <div class="card-body card-block">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label class=" form-control-label" for="makhoa">Mã khoa :</label>
                                    @Html.DisplayFor(model => model.makhoa, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <label class=" form-control-label" for="tenkhoa">Tên khoa :</label>
                                    @Html.DisplayFor(model => model.tenkhoa, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                </div>
                                <div class="col-md-6">
                                    <label class=" form-control-label" for="tenvama">Tên và mã :</label>
                                    @Html.DisplayFor(model => model.giangvien.tenvama, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="row p-3">
                                <a class="btn btn-success" href="/Admin/khoas/Edit/@Model.idkhoa">Edit</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

